doctype html
html
  head
    meta(charset='UTF-8')
    title Simple Board
    link(rel='stylesheet', href='/static/style.css')
  body
    div.contents
      h1  Simple Board
      div.btnArea 
        input(type='button', value='글 쓰기')

      table 
        thead 
          tr
            th NO.
            th 제목
            th 작성자
            th 작성일
        tbody
        - for (let i=0; i<data.length; i++)
         tr
            td #{data[i].id}
            td 
              a(href="/read/" + data[i].id) #{data[i].title}
            td #{data[i].auth}
            td #{data[i].date}

    script(src='/static/script.js')
    script.
      callIndex();          
