doctype html
html
  head
    meta(charset='UTF-8')
    title Simple Board
    link(rel='stylesheet', href='/static/style.css')
  body
    div.contents
      h1  Simple Board
      div.btnArea 
        input(type='button', value='글 쓰기')

      table 
        thead 
          tr
            th NO.
            th 제목
            th 작성자
            th 작성일
        tbody
        tr
          for item in data
            td #{item}

    script(src='/static/script.js')
    script.
      callIndex();          
