doctype html
html
  head
    meta(charset='UTF-8')
    title Simple Board
    link(rel='stylesheet', href='/static/style.css')
    
  body
    div.contents
      h1  Simple Board - 글 쓰기
        
      div.table
        form(name='frm', id='frm', method='post', action='/iProc')
          input(type='hidden', name='date', id='date')

          table 
            tbody
              tr  
                td
                  input(type='text', name='title', id='title', placeholder='제목')
              tr 
                td
                  input(type='text' name='auth', id='auth', placeholder='작성자')
              tr  
                td
                  textarea(name='cont', id='cont', rows=10, cols=100)
        div.btnArea 
          input(type='submit', value='send', class='sendBtn')
          input(type='button', value='목록보기', class='listBtn')
      
    script(src='/static/script.js')
    script.
      callWrite();   