/*Simple Reset CSS*/

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Spoqa Han Sans", Arial, sans-serif;
  color: #222324;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjus: 100%;  /* iphone font size 변경 방지 */
  font-size: 14px;
}
li { list-style: none; }
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

input[type="button"] { cursor: pointer;}
.warp { width: 100%; margin: 0;}
.contents {
    margin: 30px 30px;
    width: 60%; 
    border: 1px solid orange; 
    padding: 20px 20px 20px 20px
}

h1 { line-height: 80px;}
.btnArea {
  margin-top: 10px;
  height: 50px;
}
.btnArea input, .btn { width: 80px; height: 30px;}
table { border-collapse:collapse; width: 700px;}
table, th, tr, td { 
  padding: 10px 10px 10px 10px;
  border: 1px solid silver
}

.replay, .replayFOrm { margin-top: 20px;}
.replay h2 { line-height: 40px;}
.re { padding-left: 20px;}
.conts { background-color: #e0e0e0}
#title, #auth {width: 400px; height: 30px;}
textarea {rows: 10; cols:20}