/*Simple Reset CSS*/

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Spoqa Han Sans", Arial, sans-serif;
  color: #222324;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjus: 100%;  /* iphone font size 변경 방지 */
  font-size: 14px;
}
li { list-style: none; }
a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

input[type="button"] { cursor: pointer;}
.warp { width: 90%; margin: 0;}

table { border-collapse:collapse; }
table, tr, td { 
  padding: 10px 10px 10px 10px;
  border: 1px solid silver
}